<h1>Exchange Rate</h1>
<div class="grid-container">
  <div class="prev">
    <canvas id='lineChart'></canvas>
  </div>
  <div class="forecast">
    <canvas id='lineChartForecast'></canvas>
  </div>

  <div class="form">
    <form (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="base">To</label>
        <select class="form-control" id="base" [(ngModel)]="request.base" name="base" required>
          <option *ngFor="let curr of currencies" [value]="curr">{{curr}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="symbl">From</label>
        <select class="form-control" id="symbol" [(ngModel)]="request.symbol" name="symbol" required>
          <option *ngFor="let curr of currencies" [value]="curr">{{curr}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" class="form-control" [(ngModel)]="request.amount" name="amount" id="amount" required>
      </div>

      <div class="form-group">
        <label for="wd">Waiting Days</label>
        <input type="number" class="form-control" [(ngModel)]="request.wd" name="wd" id="wd" required>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
  </div>
  <div class="res">
    <p *ngIf="bestDay.conv != undefined">
      By {{bestDay.date}} you should be able to exchange your money at a rate of
      {{bestDay.conv | currency:request.symbol}} for a total
      of {{bestDay.amount | currency:request.base}}
    </p>

  </div>

</div>
